{{#section "css"}}
<style>

    .user-img{
      height: 200px;  
    }
    .user-img--blocked{
        opacity: .1;
    }

.btn--unblock{
    {{!-- margin: -18px 0; --}}
}
</style>
{{/section}}

<div id="toast"></div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#" id="teachers-link">Teachers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#" id="students-link">Students</a>
  </li>
</ul>
<div class="row" id="students" style="display: none;">
    <h1>STUDENTS</h1>
    <div class="row" id="">
        {{#each students}}
    <div class="col-sm-3 mt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top user-img {{#ifCond stt "===" 2}} user-img--blocked{{/ifCond}}" src="{{avatar}}" alt="Avatar User">
                <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <div class="">
                        <i class="fas fa-book"></i>  {{booked_courses.length}} Booked Courses
                    </div>
                    <div class="">
                        <i class="fas fa-history"></i> Joined in {{dateFormat createdAt}} 
                    </div>
                    <div class="" >
                        <i class="fas fa-coins"></i>  {{format money}} coins
                    </div>
                    <div class="" >
                        <i class="far fa-envelope"></i>  {{email}} 
                    </div>

                    {{#ifCond stt "===" 2}} 
                    <button name="btn-unblock" class="btn btn--unblock btn-outline-primary" data-id="{{_id}}"><i class="fas fa-lock-open"></i> Unblock hc viên</button>
                    
                    {{else}}

                    <button name="btn-block" class="btn btn-primary" data-id="{{_id}}"><i class="fas fa-user-lock" ></i> Block hc viên</button>
                    {{/ifCond}}
            </div>
        </div>
    </div>
        
    {{/each}}
    
    </div>
</div>
<div id="teachers">

    <h1>TEACHERS</h1>
    <div class="row" id="">
        {{#each teachers}}
    <div class="col-sm-3 mt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top user-img {{#ifCond stt "===" 2}} user-img--blocked{{/ifCond}}" src="{{avatar}}" alt="Avatar User">
                <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                    <div class="">
                        <i class="fas fa-user"></i> {{NumOfStudents}} Students
                    </div>
                    <div class="">
                        <i class="fas fa-play-circle"></i> {{posted_courses.length}} Courses
                    </div>
                    <div class="" >
                        <i class="far fa-envelope"></i>  {{email}} 
                    </div>
                    <div class="">
                        <i class="fas fa-history"></i> Joined in {{dateFormat createdAt}} 
                    </div>
                    <div class=""></div>
                    {{#ifCond stt "===" 2}} 
                    <button name="btn-unblock" class="btn btn--unblock btn-outline-primary" data-id="{{_id}}"><i class="fas fa-lock-open"></i> Unblock teacher</button>
                    
                    {{else}}

                    <button name="btn-block" class="btn btn-primary" data-id="{{_id}}"><i class="fas fa-user-lock" ></i> Block teacher</button>
                    {{/ifCond}}
            </div>
        </div>
    </div>
        
    {{/each}}
    
    </div>
</div> 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

{{#section "js"}}
    <script>
        console.log($('button[name="btn-block"]'));

        $('#students-link').on('click',function(){
            $('#teachers').hide();
            $('#students').show();
            $('#students-link').addClass('active');
            $('#teachers-link').removeClass('active');
        })
        $('#teachers-link').on('click',function(){
            $('#teachers-link').addClass('active');
            $('#students-link').removeClass('active');
            $('#teachers').show();
            $('#students').hide();
        })
        function handleBlock(name){
            $(`button[name="btn-${name}"]`).on('click',function(e){
            if($(e.target).data('id')){
                roleName = $('#students-link').hasClass('active')? 'học viên': 'giảng viên';
                role = $('#students-link').hasClass('active')? 'student': 'teacher';
                $.ajax({
                    url: `/${role}/block`,
                    type:"patch",
                    data: { id:$(e.target).data('id'), blocked: name==="block"?0:1 },
                    success: function (response) {
                        if (response == "true") {
                            if(name ==="block"){
                                Swal.fire({
                                    title: 'Thành công!',
                                    text: `Bn đã khóa tài khoản ${roleName} này`,
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                    })
                                    .then(function() {
                                        $(e.target).parent().append(`
                                        <button name="btn-unblock" class="btn btn--unblock btn-outline-primary" data-id="${$(e.target).data('id')}"><i class="fas fa-lock-open"></i> Unblock ${roleName}</button>
                                        `);
                                        $(e.target).parent().parent().find('.card-img-top').addClass('user-img--blocked');
                                        $(e.target).remove();
                                        handleBlock('unblock');
                                    })
                                

                            }
                            else{
                                Swal.fire({
                                    title: 'Thành công!',
                                    text: `Bn đã mở khóa tài khoản ${roleName} thành công`,
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                    })
                                    .then(function() {
                                        $(e.target).parent().append(`
                                        <button name="btn-block" class="btn btn-primary" data-id="${$(e.target).data('id')}"><i class="fas fa-user-lock" ></i> Block ${roleName}</button>
                                        
                                        `);
                                        $(e.target).parent().parent().find('.card-img-top').removeClass('user-img--blocked');
                                        $(e.target).remove();
                                        handleBlock('block');
                                    })
                                

                            }
                        }
                        else{
                            Swal.fire({
                                title: 'Thất bại!',
                                text: response,
                                icon: 'error',
                                confirmButtonText: 'OK'
                                })
                                .then(function() {
                                    $(e.target).parent().append(`
                                    <button name="btn-block" class="btn btn-primary" data-id="${$(e.target).data('id')}"><i class="fas fa-user-lock" ></i> Block ${roleName}</button>
                                    
                                    `);
                                    $(e.target).parent().parent().find('.card-img-top').removeClass('user-img--blocked');
                                    $(e.target).remove();
                                    handleBlock('block');
                                })
                        }
                    }
                });
            }
        }
            )

        }
        handleBlock('unblock');
        handleBlock('block');
    </script>
{{/section}}