{{#ifgreater pagination.pageCount 1}}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {{#paginate pagination type="first"}}
        <li class="page-item{{#if disabled}} disabled {{/if}}"><a class="page-link" href="?p={{n}}">First</a></li>
        {{/paginate}}
        {{#paginate pagination type="previous"}}
        <li class="page-item{{#if disabled}} disabled {{/if}}"><a class="page-link" href="?p={{n}}">Prev</a></li>
        {{/paginate}}
        {{#paginate pagination type="middle" limit="3"}}
        <li class="page-item {{#if active}} active{{/if}}"><a class="page-link" href="?p={{n}}">{{n}}</a></li>
        {{/paginate}}
        {{#paginate pagination type="next"}}
        <li class="page-item{{#if disabled}} disabled {{/if}}"><a class="page-link" href="?p={{n}}">Next</a></li>
        {{/paginate}}
        {{#paginate pagination type="last"}}
        <li class="page-item{{#if disabled}} disabled {{/if}}"><a class="page-link" href="?p={{n}}">Last</a></li>
        {{/paginate}}
    </ul>
</nav>
{{else}}
{{/ifgreater}}