

<div class="container-fluid p-0 my-5" style="width: 94%;">
    <h2 id="search" style="display: none;">Search</h2>
    <h2 id="cateName"></h2>
    <h4 id="popText" style="display: none;">Most popular</h4>
    <div id="myCarousel" class="carousel slide mt-4" data-ride="carousel" style="display: none;">
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <div class="row justify-content-around p-0 b-5" style="margin: 0 100px;" id ="first">
                    
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-around p-0 b-5" style="margin: 0 100px;" id="sec">
                    
                </div>
            </div>
            
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="or-seperate mt-4"></div>
    <div class="row ">
        <div class="col-sm-1"></div>
        <div class="col-2">

            <div class="dropdown dropdowm--sort ml-4">
                <button class="btn btn-light dropdown-toggle btn-sort" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                </button>
                <div class="dropdown-menu dropdown-menu--sort" aria-labelledby="dropdownMenuButton">
                    <btn class="btn dropdown-item" id="rating-asc">Lowest Rating</btn>
                    <btn class="btn dropdown-item" id="rating-desc">Highest Rating</btn>
                    <btn class="btn dropdown-item" id="price-asc">Lowest Price</btn>
                    <btn class="btn dropdown-item" id="price-desc">Highest Price</btn>
                    <btn class="btn dropdown-item" id="createdAt-asc">Oldest Courses</btn>
                    <btn class="btn dropdown-item" id="createdAt-desc">Newest Courses</btn>

                </div>
            </div>
        </div>
        <div class="col-8 mt-4 ml-4">
            <h1>{{#if total}} FOUND {{total}} COURSES{{else}}NO COURSE MATCHES {{/if}}</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-2">

            <button class="btn btn-dlt-all " id="btn-dlt-all" style="display: none;">
                <i class="fas fa-times dlt-all-x"></i>
                Xóa bộ lọc
            </button>
        </div>
        <div class="col-lg-10">
            <div class=" d-flex">
                <button class="btn btn-danger" id="btn-dlt-sort" style="display: none;">
                    <span class="dlt-text dlt-sort-text"></span>
                    <span class="dlt-x dlt-sort-x"></span>
                </button>
                <button class="btn btn-danger" id="btn-dlt-category" style="display: none;">
                    <span class="dlt-text dlt-category-text"></span>
                    <span class="dlt-x dlt-category-x"></span>
                </button>
                <button class="btn btn-danger" id="btn-dlt-subcategory" style="display: none;">
                    <span class="dlt-text dlt-subcategory-text"></span>
                    <span class="dlt-x dlt-subcategory-x"></span>
                </button>
                <button class="btn btn-danger" id="btn-dlt-rating" style="display: none;">
                    <span class="dlt-text dlt-rating-text"></span>
                    <span class="dlt-x dlt-rating-x"></span>
                </button>

                <button class="btn btn-danger" id="btn-dlt-price" style="display: none;">
                    <span class="dlt-text dlt-price-text"></span>
                    <span class="dlt-x dlt-price-x"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="  d-flex">
        <div class="col-lg-2">
            <nav class="menu">
                <div class="category-contain">

                    <h3 class="menu__heading accordion" >Category</h3>
                        <div class="panel p-0" >
                            <ul class="menu-list">
                                <li class="menu-item ">
                                    <btn class="menu-item__link" name="category">Tất cả</btn>
                                </li>
                                {{#each lcCategories}}
                                <li class="menu-item ">
                                    <btn class="menu-item__link" name="category" value="{{_id}}">{{CatName}}</btn>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                </div>
                <div id="subcat-contain" style="display: none;">

                    <h3 class="menu__heading accordion" >SubCate</h3>
                        <div class="panel p-0" >
                            <ul class="menu-list">
                                <div class="" id="subcat-list-contain">
                                    <li class="menu-item ">
                                        <btn class="menu-item__link" name="subcategory">Tất cả</btn>
                                    </li>
                                </div>
                            </ul>
                        </div>
                </div>


                <h3 class="menu__heading accordion" >Rating</h3>
                    <div class="panel p-0" >
                

                        <ul class="menu-list">
                            <li class="menu-item ">
                                <btn class="menu-item__link " name="rating">Tất cả</btn>
                            </li>
                            <li class="menu-item ">
                                <btn class="menu-item__link menu-item__link--rating" name="rating" value="3">
                                    3 & up
                                </btn>
                            </li>
                            <li class="menu-item ">
                                <btn class="menu-item__link menu-item__link--rating" name="rating" value="3.5">
                                    3.5 & up
                                </btn>
                            </li>
                            <li class="menu-item ">
                                <btn class="menu-item__link menu-item__link--rating" name="rating" value="4">
                                    4 & up
                                </btn>
                            </li>
                            <li class="menu-item">
                                <btn class="menu-item__link" name="rating" value="4.5">4.5 & up</btn>
                            </li>
                        </ul>
                    </div>
                
                <h3 class="menu__heading accordion" >Price</h3>
                    <div class="panel p-0" >
                        <ul class="menu-list">
                            <li class="menu-item ">
                                <btn class="menu-item__link" name="price">Tất cả</btn>
                            </li>
                            <li class="menu-item ">
                                <btn class="menu-item__link" name="price" value="100">>= $100</btn>
                            </li>
                            <li class="menu-item ">
                                <btn class="menu-item__link" name="price" value="200">>= $200</btn>
                            </li>
                            <li class="menu-item ">
                                <btn class="menu-item__link" name="price" value="500">>= $500</btn>
                            </li>
                            <li class="menu-item">
                                <btn class="menu-item__link" name="price" value="1000">>= $1.000</btn>
                            </li>
                        </ul>
                    </div>
                
           

                
            </nav>

        </div>
        <div class="col-lg-10">

            {{#each courses}}
            
            <div class="row my-3 ">
                <div class="col-3">
                    <img width="20px" height="160px" class="card-img-top" src="{{thumbnail}}"
                        alt="Card image cap">
                </div>
                <div class="col-8">
                    <div class="card-body d-flex flex-column my-0 p-0">
                        <p class="card-text text-primary font-weight-bold">{{this.name}}</p>
                        <h6 class="card-title ">{{short_description}} </h6>
                        <p class="card-subtitle text-secondary teacher-text">{{this.course_author.name}}</p>
                        <div class="_43 rating-course">

                            <div class="rate" data-rate-value={{rating}}></div>
                            <span class="number-ratings">({{rates.length}})</span>
                        </div>
                        <div class="d-flex w-100 justify-content-end position-absolute">
                            {{#ifCond price '!=' discount_price}}
                            <h5 class="card-text font-weight-bold delete-price text-right">$ {{format this.price}} </h5>
                            <h5 class="card-text font-weight-bold align ml-3 text-right"> $ {{format discount_price}} </h5>
                            {{else}}
                            <h5 class="card-text font-weight-bold align ml-3 text-right">$ {{format this.price}}  </h5>
                            {{/ifCond}}
                        </div>
                        <a href="/courses/{{this.slug}}" class="btn btn-primary align-self-start mt-auto">Go to
                            course</a>
                    </div>
                </div>
                <div class="col-1">

                </div>
                
                {{#ifCond course_students.length '>' 2}}
                    <div class="course__favourite ">
                        <i class="fas fa-check"></i>
                        <span>
                            Best Seller
                        </span> 
                    </div>
                    {{else}}

                    {{#newCourse createdAt}}
                    <div class="course-new">
                        <span class="far fa-clock new-course-icon"></span>
                        <span class="course-new-label">New</span>
                    </div>
                {{/newCourse}}
                {{/ifCond}}
            </div>
            <hr>
            {{/each}}
        </div>
    </div>
    
    {{>paging}} 
</div>

<link rel="stylesheet" href='/public/stylesheets/home.css' />

{{#section 'js'}}
<script>
    $(document).ready(function () {
        var options = {
            max_value: 5,
            initial_value: 4,
            readonly: true
        }
        $(".rate").rate(options);
    });
    var url = new URL(document.location.href);

    if(!url.searchParams.get('kw') && url.searchParams.get('category')){
        var haveSub = 0;
        var id = url.searchParams.get('category');
        if(url.searchParams.get('subcategory')){
            haveSub = 1;
            id = url.searchParams.get('subcategory');
        }
        $.ajax({
                url: "/courses/get/courses",
                type:"get",
                data: { id, isSub: haveSub  },
                success: function (response) {
                    //sai mat khau
                    if (response == "false") {
                        console.log('fale')

                    }
                    else{
                        myArr = response.map(ele => `<div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="${ele.thumbnail}" alt="Card image cap" style = "height:200px;">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">${ele.subcatid.SubCatName}</p>
                                        <h6 class="card-title font-weight-bold">${ele.name} </h6>
                                        <p class="card-subtitle text-secondary teacher-text">${ele.course_author.name}</p>
                                        <div class="card-text d-flex">
                                            <div class="rate" data-rate-value=${ele.rating}></div>
                                            <span class="number-students">(${ele.rates.length})</span>
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="card-text font-weight-bold align ml-3 text-right">$ ${ele.discount_price} </h5>

                                        </div>
                                        <a href="/courses/${ele.slug}" class="btn btn-primary align-self-start mt-auto">Go
                                            to
                                            course</a>
                                    </div>
                                </div>
                            </div>`)
                            const firstArr = myArr.slice(0,3).join('\n');
                            $('#first').append(firstArr);
                            if(myArr.slice(3,6).length === 0){
                                $('#sec').parent().remove();
                            }
                            else{
                                const secArr = myArr.slice(3,6).join('\n');
                                $('#sec').append(secArr);
                            }
                            $('#myCarousel').show();
                            $(document).ready(function () {
                                var options = {
                                    max_value: 5,
                                    initial_value: 4,
                                    readonly: true
                                }
                                $(".rate").rate(options);
                            });
                    }
                }
            });
    }
    else console.log('ko')

    var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("acor-active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        });
      }
    //Nếu có search từ thì hiện từ search, ko có(chỉ tìm theo Category) thì k hiện
    if(url.searchParams.get('kw')){
        $('#search').append(': '+url.searchParams.get('kw'));
        $('#search').show();

    }
    //Click vào item menu add parameter vào URL
    function handleItem(...args){
        args.forEach(name=> {

            $(`btn[name=${name}]`).on("click",function(e) {
                
            if (e.target.getAttribute('value')) {
                url.searchParams.set(name, e.target.getAttribute('value'))
                console.log(e.target.getAttribute('value'));
            }
            else {
                url.searchParams.delete(name);
            } 
            if(name === 'category'){
                url.searchParams.delete('subcategory')
                url.searchParams.delete('price')
                url.searchParams.delete('field')
                url.searchParams.delete('type')
                url.searchParams.delete('rating')
            }
            url.searchParams.delete('p')

            document.location = url;

            })
        })
    }
    handleItem('rating', 'price', 'category');
    var priceInput2 = $('btn[name="price"]');

    //Nếu có parameter thì thêm thẻ xóa parameter và bật active cho item menu
    function handleUrlQuery(...args){
        args.forEach(name=> {
            if (url.toString().includes(`&${name}`)) {
            const fieldValue = url.searchParams.get(name);
            var htmlPicked = '';
                $(`btn[name=${name}]`).toArray().forEach(element => {
                if (element.getAttribute('value') === fieldValue) {
                    element.parentElement.classList.add('menu-item--active');
                    htmlPicked = element.textContent;
                }
            })
            document.getElementById(`btn-dlt-${name}`).style.display = "block";
            document.querySelector(`#btn-dlt-${name}`).querySelector(`.dlt-${name}-text`).append(`${name}: ` + htmlPicked);
            document.querySelector(`#btn-dlt-${name}`).querySelector(`.dlt-${name}-x`).innerHTML = '<i class="fas fa-times"></i>';
            
            if(name === 'category'){
                if(!url.searchParams.get('kw')){

                    $('#popText').show();
                    $('#cateName').append(htmlPicked+' Courses')
                }
                const catId= url.searchParams.get(name);
                $.ajax({
                        url: "/courses/getSubByCatId",
                        type:"get",
                        data: {catId },
                        success: function (response) {
                            if (response == "false") {
                                console.log('fail')
                            }
                            else{
                            console.log(response);
                            response = response.map(subCat => `<li class="menu-item ">
                                        <btn class="menu-item__link" name="subcategory" value ="${subCat._id}">${subCat.SubCatName}</btn>
                                    </li>`);
                                response = response.join('\n');
                                $('#subcat-list-contain').append(response);
                                console.log($('#subcat-contain'))
                                $('#subcat-contain').show();
                                handleItem('subcategory');
                                handleDelField('subcategory');
                                
                                //Bị bđb ở trên response trả về chưa kịp nên phải chạy lại đoan này
                                if (url.toString().includes(`&subcategory`)){
                                    console.log('wth')
                                    $(`btn[name="subcategory"]`).toArray().forEach(element => {
                                        if (element.getAttribute('value') === url.searchParams.get('subcategory')) {
                                            console.log(element.getAttribute('value'))
                                            element.parentElement.classList.add('menu-item--active')
                                            const htmlPicked = element.textContent;
                                            document.getElementById(`btn-dlt-subcategory`).style.display = "block";
                                            if(!url.searchParams.get('kw')){

                                                $('#cateName').empty();
                                                $('#cateName').append(htmlPicked+' Courses');
                                            }
                                            document.querySelector(`#btn-dlt-subcategory`).querySelector(`.dlt-subcategory-text`).append(`Subcategory: ` + htmlPicked);
                                            document.querySelector(`#btn-dlt-subcategory`).querySelector(`.dlt-subcategory-x`).innerHTML = '<i class="fas fa-times"></i>';
                                        }
                                    })
                                }
                                else{
                                    console.log($(`btn[name=subcategory]`).toArray()[0])
                                    $(`btn[name=subcategory]`).toArray()[0].parentElement.classList.add('menu-item--active');
                                }
                            }
            }
                });
        }
            }
        else {
            $(`btn[name=${name}]`).toArray()[0].parentElement.classList.add('menu-item--active');
        }
        })
    }

    handleUrlQuery('price', 'rating', 'category');


    if (url.toString().includes('&field')) {
        const field = url.searchParams.get('field');
        const type = url.searchParams.get('type');
        if (type === 'asc')
            var type1 = 'Lowest';
        else
            var type1 = 'Highest'
        const upperField = field[0].toUpperCase() + field.slice(1);
        document.querySelector('#dropdownMenuButton').innerHTML = type1 + ' ' + upperField;
        const idString = url.searchParams.get('field') + '-' + type;
        document.getElementById(idString).style.display = 'none';
        document.querySelector('#btn-dlt-sort')
        document.getElementById("btn-dlt-sort").style.display = "block";
        document.querySelector('#btn-dlt-sort').querySelector('.dlt-sort-text').append(upperField + ': ' + type1);
        document.querySelector('#btn-dlt-sort').querySelector('.dlt-sort-x').innerHTML = '<i class="fas fa-times"></i>';
    }

    //Btn-Dlt parameter
    function handleDelField(...args){
        args.forEach(name => {
            $(`#btn-dlt-${name}`).on('click', function () {
            url.searchParams.delete(name);
            document.location = url;
        })
        })
    }
   handleDelField('price', 'rating', 'category');
    $('#btn-dlt-sort').on('click', function () {
        url.searchParams.delete("field");
        url.searchParams.delete("type");
        document.location = url;
    })
    if(!(Array.from(url.searchParams).length === 1 || (Array.from(url.searchParams).length === 2 && url.searchParams.get('p'))))
    {
        document.querySelector('.btn-dlt-all').style.display = "block";
        $('#btn-dlt-all').on('click', function () {
            var newUrl = new URL(document.location.origin + document.location.pathname);
            newUrl.searchParams.set("kw", url.searchParams.get("kw"));
            document.location = newUrl;
        })
    }


    //Paginate
    $('.pagination-item').on('click',function(e){
        e.preventDefault();
        url.searchParams.set('p',e.target.getAttribute('value'));
        if(!$(e.target).parent().hasClass('disabled'))
            document.location = url;
    })

    //Bấm vào sort thêm parameter field vs type vào new url
    //Rest Parameter Sort
    function handleSort(...args){
        console.log(args);
        args.forEach(name => {
            $(`#${name}-desc`).on('click', function () {
                url.searchParams.set("field", name);
                url.searchParams.set("type", "desc");
                document.location = url;
            })
            $(`#${name}-asc`).on('click', function () {
                url.searchParams.set("field", name);
                url.searchParams.set("type", "asc");
                document.location = url;
            })
        })
    }
    handleSort('rating','price','createdAt');
    
</script>

{{/section}}
<link rel="stylesheet" href="/public/stylesheets/search.css">