{{#section 'css'}}
<style>
    .number-students {
        color: #8c8b8b;
        font-weight: 400;
        align-self: center;
        margin-left: 5px;
    }

    a.abc::after {
        width: 100%;
        height: 100%;
    }

    .rate {
        font-size: 20px;
        font-family: sans-serif;
        color: #ff8000;
    }

    .card-img-top {
          width: 100%;
          max-height: 180px;
    }
</style>
{{/section}}

{{!-- Cái dài dài đầu tiên --}}
<div class="container-fluid p-0">
    <img src="/public/images/home-hero.png" class="d-block w-100" alt="..." />
    <div class="col-md-5 p-lg-5 front">
        <h1 class="display-5">
            Learn HTML, CSS, Iphone Apps & More
        </h1>
        <p class="lead font-weight-normal">
            An awesome website to learn how to build websites & apps, write a
            code or start a business.
        </p>
        <a class="btn btn-outline-dark btn-lg" href="#">Start now!</a>
    </div>
</div>


{{!-- Cái dài dài thứ 2 --}}
<div class="container py-5">
    <div class="d-flex justify-content-around my-5 ">
        <div>
            <img src="/public/images/feature.png" class="d-block w-100" alt="..." />
        </div>
        <div class="col-md-6 p-lg-2 m-lg-2">
            <h2>
                Learn to code anytime
                and everywhere
            </h2>
            <p class="lead font-weight-normal">
                Get started with just your name and your email adress . It’s as simple as
                that
                -- no payments or credit card information required.
            </p>
            <a class="btn btn-outline-dark btn-lg" href="#">Start now!</a>
        </div>
    </div>
</div>

<hr>

<div class="container my-5">
    <div class="text-center mb-5 mt-5">
        <h3> Topics recommended for you</h3>

    </div>


    <div class="container   mt-5">
        <div class="container justify-content-center d-flex">
            {{#each catemostpopular}}


            <a class="btn accordion border m-3" href="/courses/fts?kw=&category={{_id}}">
                <h4>{{CatName}}</h4>
                {{#ifgreater count 1}}
                <p> {{count}} purchases this week</p>
                {{else}}
                <p> {{count}} purchase this week</p>
                {{/ifgreater}}
            </a>
            {{/each}}
        </div>
        <div class="container justify-content-center d-flex  mt-2">
            {{#each subcatemostpopular}}


            <a class="btn accordion border m-3" href="/courses/fts?kw=&category={{CatID._id}}&subcategory={{_id}}">
                <h4>{{SubCatName}}</h4>
                {{#ifgreater count 1}}
                <p> {{count}} purchases this week</p>
                {{else}}
                <p> {{count}} purchase this week</p>
                {{/ifgreater}}
            </a>
            {{/each}}
        </div>
    </div>
</div>

<hr>

{{!-- Các khoá học nổi bật nhất trong tuần --}}
<div class="container p-0 my-5" style="width: 65%;">
    <div class="text-center mb-5">
        <h3> The most highlighted courses of the week </h3>
        <h5> We recommend you some courses that are very popular on the Internet</h5>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-around p-0 b-5">
            <div class="row justify-content-around p-0 b-5">
                {{#each getMostHight}}
                <div class="col-3 p-0">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
                        <div class="card-body d-flex flex-column">
                            <p class="card-text text-primary font-weight-bold">Web Development</p>
                            <h6 class="card-title font-weight-bold">{{name}} </h6>
                            <p class="card-subtitle text-secondary teacher-text">{{course_author.name}}</p>
                            <div class="card-text d-flex">
                                <div class="rate" data-rate-value={{ratethisweek}}></div>
                                <span class="number-students">({{numratethisweek}} this week)</span>
                            </div>
                            <div class="d-flex">
                                <h5 class="card-text font-weight-bold delete-price"> ${{price}} </h5>
                                <h5 class="card-text font-weight-bold align ml-3 discout-price">
                                    ${{discount_price}}
                                </h5>
                            </div>
                            <a href="/courses/{{slug}}" class="btn btn-primary align-self-start mt-auto">Go
                                to
                                course</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>


        </div>
    </div>

</div>


<hr>


{{!-- Các khoá học được xem nhiều nhất --}}
<div class="container p-0 my-5" style="width: 65%;">
    <div class="text-center mb-5">
        <h3> The most viewed courses of all times</h3>
    </div>

    <div class="container-fluid p-0">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item carousel-item-next carousel-item-left">
                    <div class="container-fluid">
                        <div class="row justify-content-around p-0 b-5">
                            {{#each mostViewed.first_3}}
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">{{name}} </h6>
                                        <p class="card-subtitle text-secondary teacher-text">{{course_author.name}}</p>
                                        <div class="card-text d-flex">
                                            <div class="rate" data-rate-value={{rating}}></div>
                                            <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="card-text font-weight-bold delete-price"> ${{price}} </h5>
                                            <h5 class="card-text font-weight-bold align ml-3 discout-price">
                                                ${{discount_price}}
                                            </h5>
                                        </div>
                                        <a href="/courses/{{slug}}" class="btn btn-primary align-self-start mt-auto">Go
                                            to
                                            course</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-item-left">
                    <div class="container-fluid">
                        <div class="row justify-content-around p-0 b-5">
                            {{#each mostViewed.next_3}}
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">{{name}} </h6>
                                        <p class="card-subtitle text-secondary teacher-text">{{course_author.name}}</p>
                                        <div class="card-text d-flex">
                                            <div class="rate" data-rate-value={{rating}}></div>
                                            <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="card-text font-weight-bold delete-price"> ${{price}} </h5>
                                            <h5 class="card-text font-weight-bold align ml-3 discout-price"> $199.99
                                            </h5>
                                        </div>
                                        <a href="/courses/{{slug}}" class="btn btn-primary align-self-start mt-auto">Go
                                            to
                                            course</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="carousel-item active carousel-item-left">
                    <div class="container-fluid">
                        <div class="row justify-content-around p-0 b-5">
                            {{#each mostViewed.last_3}}
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">{{name}} </h6>
                                        <p class="card-subtitle text-secondary teacher-text">{{course_author.name}}</p>
                                        <div class="card-text d-flex">
                                            <div class="rate" data-rate-value={{rating}}></div>
                                            <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="card-text font-weight-bold delete-price"> ${{price}} </h5>
                                            <h5 class="card-text font-weight-bold align ml-3 discout-price"> $199.99
                                            </h5>
                                        </div>
                                        <a href="/courses/{{slug}}" class="btn btn-primary align-self-start mt-auto">Go
                                            to
                                            course</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-item-left">
                    <div class="container-fluid">
                        <div class="row justify-content-around p-0 b-5">
                            {{#with mostViewed.last_1}}
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">{{name}} </h6>
                                        <p class="card-subtitle text-secondary teacher-text">{{course_author.name}}</p>
                                        <div class="card-text d-flex">
                                            <div class="rate" data-rate-value={{rating}}></div>
                                            <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                        </div>
                                        <div class="d-flex">
                                            {{#if discount_price}}
                                            <h5 class="card-text font-weight-bold delete-price"> ${{price}} </h5>
                                            <h5 class="card-text font-weight-bold align ml-3 discout-price">
                                                ${{discount_price}}
                                                {{else}}
                                                <h5 class="card-text font-weight-bold"> ${{price}} </h5>
                                                {{/if}}
                                            </h5>
                                        </div>
                                        <a href="/courses/{{slug}}" class="btn btn-primary align-self-start mt-auto">Go
                                            to
                                            course</a>
                                    </div>
                                </div>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div>

<hr>

{{!-- Các khoá học mới nhất nhất --}}
<div class="container p-0 my-5" style="width: 65%;">
    <div class="text-center mb-5">
        <h3>Check out own newest courses</h3>
    </div>

    <div class="container-fluid p-0">
        <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item carousel-item-next carousel-item-left">
                    <div class="container-fluid">
                        <div class="row justify-content-around p-0 b-5">
                            {{#each newest.first_3}}
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">{{name}} </h6>
                                        <p class="card-subtitle text-secondary teacher-text">{{course_author.name}}</p>
                                        <div class="card-text d-flex">
                                            <div class="rate" data-rate-value={{rating}}></div>
                                            <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="card-text font-weight-bold delete-price"> ${{price}} </h5>
                                            <h5 class="card-text font-weight-bold align ml-3 discout-price">
                                                ${{discount_price}}
                                            </h5>
                                        </div>
                                        <a href="/courses/{{slug}}" class="btn btn-primary align-self-start mt-auto">Go
                                            to
                                            course</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-item-left">
                    <div class="container-fluid">
                        <div class="row justify-content-around p-0 b-5">
                            {{#each newest.next_3}}
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">{{name}} </h6>
                                        <p class="card-subtitle text-secondary teacher-text">{{course_author.name}}</p>
                                        <div class="card-text d-flex">
                                            <div class="rate" data-rate-value={{rating}}></div>
                                            <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="card-text font-weight-bold delete-price"> ${{price}} </h5>
                                            <h5 class="card-text font-weight-bold align ml-3 discout-price"> $199.99
                                            </h5>
                                        </div>
                                        <a href="/courses/{{slug}}" class="btn btn-primary align-self-start mt-auto">Go
                                            to
                                            course</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="carousel-item active carousel-item-left">
                    <div class="container-fluid">
                        <div class="row justify-content-around p-0 b-5">
                            {{#each newest.last_3}}
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">{{name}} </h6>
                                        <p class="card-subtitle text-secondary teacher-text">{{course_author.name}}</p>
                                        <div class="card-text d-flex">
                                            <div class="rate" data-rate-value={{rating}}></div>
                                            <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="card-text font-weight-bold delete-price"> ${{price}} </h5>
                                            <h5 class="card-text font-weight-bold align ml-3 discout-price"> $199.99
                                            </h5>
                                        </div>
                                        <a href="/courses/{{slug}}" class="btn btn-primary align-self-start mt-auto">Go
                                            to
                                            course</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-item-left">
                    <div class="container-fluid">
                        <div class="row justify-content-around p-0 b-5">
                            {{#with newest.last_1}}
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">{{name}} </h6>
                                        <p class="card-subtitle text-secondary teacher-text">{{course_author.name}}</p>
                                        <div class="card-text d-flex">
                                            <div class="rate" data-rate-value={{rating}}></div>
                                            <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                        </div>
                                        <div class="d-flex">
                                            {{#if discount_price}}
                                            <h5 class="card-text font-weight-bold delete-price"> ${{price}} </h5>
                                            <h5 class="card-text font-weight-bold align ml-3 discout-price">
                                                ${{discount_price}}
                                                {{else}}
                                                <h5 class="card-text font-weight-bold"> ${{price}} </h5>
                                                {{/if}}
                                            </h5>
                                        </div>
                                        <a href="/courses/{{slug}}" class="btn btn-primary align-self-start mt-auto">Go
                                            to
                                            course</a>
                                    </div>
                                </div>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<hr>

{{!-- Các khoá học được xem nhiều nhất trong tuần --}}
{{!-- <div class="container p-0 my-5" style="width: 65%;">
    <div class="text-center mb-5">
        <h3> The most viewed courses of the week</h3>
    </div>

    <div class="container-fluid p-0">
        <div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item carousel-item-next carousel-item-left">
                    <div class="container-fluid">
                        <div class="row justify-content-around p-0 b-5">
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{thumbnail}}" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">Ultimate Web Developer Course </h6>
                                        <p class="card-subtitle text-secondary teacher-text">Ho Tuan Thanh</p>
                                        <div class="card-text d-flex">
                                            <div class="rate" data-rate-value=4></div>
                                            <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="card-text font-weight-bold delete-price"> $200 </h5>
                                            <h5 class="card-text font-weight-bold align ml-3 discout-price"> $199.99
                                            </h5>
                                        </div>
                                        <a href="/courses/detail" class="btn btn-primary align-self-start mt-auto">Go to
                                            course</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="/public/images/courses/2.png" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">Learn Angular Fundamentals </h5>
                                            <p class="card-subtitle text-secondary teacher-text">Nguyen Duc Huy</p>
                                            <div class="card-text d-flex">
                                                <div class="rate" data-rate-value=4></div>
                                                <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                            </div>
                                            <h5 class="card-text font-weight-bold"> $99.99 </h5>
                                            <a href="/courses/detail"
                                                class="btn btn-primary align-self-start mt-auto">Go to
                                                course</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="/public/images/courses/3.png" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">JavaScript</p>
                                        <h6 class="card-title font-weight-bold">The Complete JavaScript </h5>
                                            <p class="card-subtitle text-secondary teacher-text">Ngo Ngoc Dang Khoa</p>
                                            <div class="card-text d-flex">
                                                <div class="rate" data-rate-value=4></div>
                                                <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                            </div>
                                            <h5 class="card-text font-weight-bold"> $111.99 </h5>
                                            <a href="/courses/detail"
                                                class="btn btn-primary align-self-start mt-auto">Go to
                                                course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row justify-content-around p-0 b-5">
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{course.thumbnail}}" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">Ultimate Web Developer Course </h6>
                                        <p class="card-subtitle text-secondary teacher-text">Ho Tuan Thanh</p>
                                        <div class="card-text d-flex">
                                            <div class="rate" data-rate-value=4></div>
                                            <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="card-text font-weight-bold delete-price"> $200 </h5>
                                            <h5 class="card-text font-weight-bold align ml-3 discout-price"> $199.99
                                            </h5>
                                        </div>
                                        <a href="/courses/detail" class="btn btn-primary align-self-start mt-auto">Go to
                                            course</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="/public/images/courses/2.png" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">Learn Angular Fundamentals </h5>
                                            <p class="card-subtitle text-secondary teacher-text">Nguyen Duc Huy</p>
                                            <div class="card-text d-flex">
                                                <div class="rate" data-rate-value=4></div>
                                                <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                            </div>
                                            <h5 class="card-text font-weight-bold"> $99.99 </h5>
                                            <a href="/courses/detail"
                                                class="btn btn-primary align-self-start mt-auto">Go to
                                                course</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="/public/images/courses/3.png" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">JavaScript</p>
                                        <h6 class="card-title font-weight-bold">The Complete JavaScript </h5>
                                            <p class="card-subtitle text-secondary teacher-text">Ngo Ngoc Dang Khoa</p>
                                            <div class="card-text d-flex">
                                                <div class="rate" data-rate-value=4></div>
                                                <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                            </div>
                                            <h5 class="card-text font-weight-bold"> $111.99 </h5>
                                            <a href="/courses/detail"
                                                class="btn btn-primary align-self-start mt-auto">Go to
                                                course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active carousel-item-left">
                    <div class="container-fluid">
                        <div class="row justify-content-around p-0 b-5">
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{course.thumbnail}}" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">Ultimate Web Developer Course </h6>
                                        <p class="card-subtitle text-secondary teacher-text">Ho Tuan Thanh</p>
                                        <div class="card-text d-flex">
                                            <div class="rate" data-rate-value=4></div>
                                            <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="card-text font-weight-bold delete-price"> $200 </h5>
                                            <h5 class="card-text font-weight-bold align ml-3 discout-price"> $199.99
                                            </h5>
                                        </div>
                                        <a href="/courses/detail" class="btn btn-primary align-self-start mt-auto">Go to
                                            course</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="/public/images/courses/2.png" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">Web Development</p>
                                        <h6 class="card-title font-weight-bold">Learn Angular Fundamentals </h5>
                                            <p class="card-subtitle text-secondary teacher-text">Nguyen Duc Huy</p>
                                            <div class="card-text d-flex">
                                                <div class="rate" data-rate-value=4></div>
                                                <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                            </div>
                                            <h5 class="card-text font-weight-bold"> $99.99 </h5>
                                            <a href="/courses/detail"
                                                class="btn btn-primary align-self-start mt-auto">Go to
                                                course</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 p-0">
                                <div class="card h-100">
                                    <img class="card-img-top" src="/public/images/courses/3.png" alt="Card image cap">
                                    <div class="card-body d-flex flex-column">
                                        <p class="card-text text-primary font-weight-bold">JavaScript</p>
                                        <h6 class="card-title font-weight-bold">The Complete JavaScript </h5>
                                            <p class="card-subtitle text-secondary teacher-text">Ngo Ngoc Dang Khoa</p>
                                            <div class="card-text d-flex">
                                                <div class="rate" data-rate-value=4></div>
                                                <span class="number-students"><i class="fas fa-users"></i> {{course_students.length}}</span>
                                            </div>
                                            <h5 class="card-text font-weight-bold"> $111.99 </h5>
                                            <a href="/courses/detail"
                                                class="btn btn-primary align-self-start mt-auto">Go to
                                                course</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators4" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators4" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div> --}}





{{!-- We've got the technical stuff covered. --}}
<div class="container p-5" style="width: 65%;margin: 100px auto;">
    <div class="text-center mb-5">
        <h2>We've got the technical stuff covered.</h2>
    </div>
    <img src="/public/images/feature-2.png" class="d-block w-100" alt="..." />
</div>

{{#section 'js'}}
<script>
    $(document).ready(function () {
        var options = {
            max_value: 5,
            initial_value: 4,
            readonly: true
        }
        $(".rate").rate(options);
    });
</script>
{{/section}}