<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">

{{#section 'css'}}
<style>
  .file-drop-zone {
    min-height: 140px !important;
  }

  .kv-file-content {}

  .krajee-default.file-preview-frame {
    float: none !important;
    margin: 0 !important;
  }

  .krajee-default.file-preview-frame .kv-file-content {
    width: auto !important;
  }

  .file-footer-buttons {
    display: none !important;
  }

  .overlay {
    position: relative;
  }

  .image-overlay {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    height:150px;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .overlay:hover .middle {
    opacity: 1;
  }
</style>

{{/section}}


{{>menu-edit}}
<form method="POST" class="form" id="form-1" action="/student/{{user._id}}?_method=PUT" enctype="multipart/form-data">
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3 p-2">
      <div class="card text-left">
        <div class="text-center pt-5">
          <input id="avatar" name="avatar" type="file" required>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">{{user.name}}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-9 p-2">
      <div class="card">
        <div class="card-header align-items-center text-center">
          <h3>
            Public profile
          </h3>
          <p>Add information about yourself</p>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" value="{{user.name}}" id="name" name="name">
            <span class="form-message"></span>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" value={{user.email}} id="email" aria-describedby="emailHelp"
              name="email">
            <span class="form-message"></span>
          </div>

        </div>
        <div class="card-footer text-muted text-center">
          <button type="submit" class="btn btn-outline-success">
            <i class="fa fa-check" aria-hidden="true"></i>
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>


{{#section 'js'}}
<script src="/public/javascripts/validator.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script>
  Validator({
    form: '#form-1',
    formGroup: '.form-group',
    errorSelector: '.form-message',
    rules: [
      Validator.isRequired('#email', 'Vui lòng nhập i meo'),
      Validator.isRequired('#name', 'Vui lòng nhập tên của bạn'),
      Validator.isEmail('#email', 'Vui lòng nhập lại i meo'),
    ],
  }
  )
  $("#avatar").fileinput({
    font: 'fa',
    maxFileCount: 1,
    overwriteInitial: true,
    maxFileSize: 4500,
    showClose: false,
    showCaption: false,
    showUpload: false,
    browseOnZoneClick: true,
    showBrowse: false,
    removeLabel: '',
    removeIcon: '<i class="fas fa-times"></i>',
    zoomIcon: '<i class="fa fa-search-plus"></i>',
    initialPreviewShowDelete: false,
    defaultPreviewContent: `<div class="p-0 overlay course-detail-img">
      <div height: 150px class="rounded-circle" style="overflow:hidden;height: 150px;max-width: 150px;margin-left:auto;margin-right:auto;">
  <img src="{{user.avatar}}" alt="user" class="shadow image-overlay">
      </div>
  <div class="middle">
    <div class="text my-auto"><a href="#course-video" data-toggle="modal" class="text-dark"><i class="fas fa-camera"></i></a></div>
  </div>
</div>`,
    allowedFileExtensions: ["jpg", "png", "gif"],
  });
</script>
{{/section}}

