{{>menu-edit}}
<div class="container-fluid" style="width: 65%;">
    <div class="row p-0 b-5">
        {{#each list}}
        <div class="col-4 p-4">
            <div class="card p-0 my-0">
                <img class="card-img-top" src="{{course_id.thumbnail}}" alt="Card image cap">
                <div class="card-body p-1">
                    <p class="card-text text-primary font-weight-bold py-1 my-0">{{course_id.name}}</p>
                    <b>{{../progress}}/{{../numlesson}}</b>
                </div>
                <div style="width: {{../percent}}%; height: 6px;background-color: aqua;">

                </div>
            </div>
            <div class="card p-0 my-0">
                
                <a class="btn btn-outline-success" href="/courses/{{course_id.slug}}" role="button">
                    Continue
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
            </div>

        </div>
        {{/each}}
    </div>
</div>